html {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    min-height: 100vh;
    flex-grow: 1;
}

.layout {
    margin: 4rem;
    min-height: 70vh;
}

h3 {
    padding: 1rem 0 0 0;
}

.rating span {
    margin: 0.1 rem;
}
